.login-tile{
    margin-top: 1%; 
    margin-left: 6%;
    height: 600px;
    width: 40%;
    color: #702779;
    float: left;
    text-align: center;    
    border: 2px solid black;
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
}

.login-tile-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #702779;
    padding-bottom: 0px;
    margin: 0px;
    height: 100px;
    color: white;
    border: 1px solid black;
   
}

.login-tile img{
    margin-top: 15%;
    width: 35%;
}

.already-a-wow{
    width: 53% !important;
}

.home-component{
    text-align: center;   
    margin-top: 3%;
}

h1{
    color: #702779
}